<ion-header>
  <ion-navbar>
    <ion-title>Ionic</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>Exercises</ion-list-header>
    <ion-item>
      <hr>
      <h2 class="pac">PAC 3</h2>
      <p class="info">
        To view this App in the Ionic View App use the AppId: ebf6503e
      </p>
      <hr>
    </ion-item>
  </ion-list>
</ion-content>
